// main stylesheet, import all scss files here for inclusion by webpack
@import
"tag-counter",
"messenger";
@import "mafs/core.css";

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#container{
    display: inline-block;
    height: 100%;
    width: 100%;
}
